.cb-drag {
  display: flex;
  justify-content:space-between;
  cursor: grab;
  background: black;
  width: 100%;
  color: white;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
.cb-title {
  font-size: 1.5em;
  flex: 1;
  padding: 0;
  margin: 0;
}
.cb-root {
  width: 50vw;
  height: 75vh;
  font-family: monospace;
  transition: opacity blur 0.5s;
  border: 2px solid black;
  background-color: #fff;
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
  overflow: scroll;
  resize: both;
}

.cb-close:hover {
  cursor: pointer;
}

.minimized {
  display: none;
}

.cb-action {
  user-select: none;
  flex: 1;
  cursor: pointer;
  border: none;
  text-align: center;
  width: 1.5em;
  height: 1.5em;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

table {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  border-collapse: collapse;
}
.cb-stats {
  width: 50%;
  padding: 1em 7em;
  justify-content: center;
}
.cb-root .cb-metrics td:last-child {
  text-align: right;
}
.cb-root p {
  display: block;
  margin: 1em auto;
  text-align: center;
  width: 100%;
}
.cb-root h2 {
  display: block;
  width: 100%;
}

.cb-root h2 code {
  font-weight: 500;
}

.cb-title {
  height: 1.3em;
  flex: 0;
  padding-right: 1em;
}

.cb-select {
  text-align: center;
}

select:focus {
  min-width: 150px;
  width: auto;
}

.editor-and-variables {
  display: flex;
  justify-content: space-around;
}

.variables {
  margin: 0 2em;
}

td:nth-child(2) {
  padding: 0 0 0 3em;
  text-align: right;
}

.editor {
  min-height: 150px;
  resize: both;
  overflow: auto;
  border: 1px dashed gray;
  flex: 5;
}

.cb-summary {
  flex: 10;
  width: 20em;
  margin-top: 0.5em;
}

.cb-summary-text {
  font-weight:400;
  font-size: 1em;
  color: #bbb;
  width: 20em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
  display: inline-block;
}

.dragged {
  opacity: 0.1;
}

.unsaved {
  background: #fee;
}

.loading {
  background: #ffe;
}
